<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <!-- to edit this file, copy it to the glowroot-central folder (where glowroot-central.jar
    resides), keeping the same file name (logback.xml), and glowroot-central will find it and use it
    instead of the logback.xml configuration file that is inside glowroot-central.jar -->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>glowroot.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>glowroot.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />
  <!-- suppress connection error logging -->
  <logger name="io.grpc.netty.NettyServerHandler" level="error" />
  <!-- suppress connection error logging, see https://github.com/grpc/grpc-java/issues/1768 -->
  <logger name="io.grpc.netty.NettyServerTransport" level="off" />
  <root level="info">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

  <!-- to enable auditing (step 1 of 2): comment out the line below -->

  <logger name="audit" level="off" />

  <!-- to enable auditing (step 2 of 2): uncomment the lines below -->

  <!--appender name="AUDIT" class="org.glowroot.agent.shaded.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="org.glowroot.agent.shaded.qos.logback.core.rolling.TimeBasedRollingPolicy">
    <fileNamePattern>${glowroot.base.dir}/audit.%d{yyyy-MM-dd}.log</fileNamePattern>
    <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n</pattern>
    </encoder>
    </appender>
    <logger name="audit" level="info" additivity="false">
    <appender-ref ref="AUDIT" />
    </logger -->

</configuration>
