<div class="gt-inline-block gt-mbean-expanded-content"
     style="margin-left: -10px;">
  <label>{{nodeName}}</label>
  <!-- gt-spinner is used for jquery find(), not for css -->
  <div class="hide gt-spinner"
       style="position: relative; height: 50px; margin-bottom: 10px;">
  </div>
</div>
