# standard environment (sudo: required) is required for docker
sudo: required
language: java
services:
  - docker
  - xvfb
before_install:
    # NewRatio is to leave as much memory as possible to old gen
  - echo "MAVEN_OPTS=\"-Xmx768m -XX:NewRatio=20\"" > ~/.mavenrc
install: true
script:
    # travis ci provides a default settings xml that has lots of unnecessary repositories which slows build down
  - rm ~/.m2/settings.xml
  - build/travis-ci/build.sh $TARGET
after_script:
  # stop sauce connect if it has been started
  - if [ -f sauce-connect.pid ]; then build/travis-ci/stop-sauce-connect.sh; fi
cache:
  directories:
  - $HOME/.m2
  - $HOME/.cache/bower
matrix:
  include:
    - jdk: openjdk8
      env: TARGET=test1 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test2 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test3 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test4 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=deploy
    - jdk: openjdk8
      env: TARGET=checker
    - jdk: openjdk11
      env: TARGET=test1 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk11
      env: TARGET=test2 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk11
      env: TARGET=test3 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk11
      env: TARGET=test4 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk10
      env: TARGET=test1 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk10
      env: TARGET=test2 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk10
      env: TARGET=test3 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk10
      env: TARGET=test4 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk9
      env: TARGET=test1 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk9
      env: TARGET=test2 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk9
      env: TARGET=test3 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk9
      env: TARGET=test4 TEST_SHADED=true GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test1 TEST_SHADED=false GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test2 TEST_SHADED=false GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test3 TEST_SHADED=false GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test4 TEST_SHADED=false GLOWROOT_HARNESS=javaagent
    - jdk: openjdk8
      env: TARGET=test1 TEST_SHADED=true GLOWROOT_HARNESS=local
    - jdk: openjdk8
      env: TARGET=test2 TEST_SHADED=true GLOWROOT_HARNESS=local
    - jdk: openjdk8
      env: TARGET=test3 TEST_SHADED=true GLOWROOT_HARNESS=local
    - jdk: openjdk8
      env: TARGET=test4 TEST_SHADED=true GLOWROOT_HARNESS=local
    - jdk: openjdk8
      env: TARGET=test1 TEST_SHADED=false GLOWROOT_HARNESS=local
    - jdk: openjdk8
      env: TARGET=test2 TEST_SHADED=false GLOWROOT_HARNESS=local
    - jdk: openjdk8
      env: TARGET=test3 TEST_SHADED=false GLOWROOT_HARNESS=local
    - jdk: openjdk8
      env: TARGET=test4 TEST_SHADED=false GLOWROOT_HARNESS=local
      # chrome
    - jdk: openjdk8
      env: TARGET=saucelabs1 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=chrome SAUCELABS_BROWSER_VERSION=
    - jdk: openjdk8
      env: TARGET=saucelabs2 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=chrome SAUCELABS_BROWSER_VERSION=
    - jdk: openjdk8
      env: TARGET=saucelabs3 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=chrome SAUCELABS_BROWSER_VERSION=
      # firefox
    - jdk: openjdk8
      env: TARGET=saucelabs1 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=firefox SAUCELABS_BROWSER_VERSION=
    - jdk: openjdk8
      env: TARGET=saucelabs2 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=firefox SAUCELABS_BROWSER_VERSION=
    - jdk: openjdk8
      env: TARGET=saucelabs3 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=firefox SAUCELABS_BROWSER_VERSION=
      # microsoft edge
    - jdk: openjdk8
      env: TARGET=saucelabs1 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=MicrosoftEdge SAUCELABS_BROWSER_VERSION=17.17134
    - jdk: openjdk8
      env: TARGET=saucelabs2 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=MicrosoftEdge SAUCELABS_BROWSER_VERSION=17.17134
    - jdk: openjdk8
      env: TARGET=saucelabs3 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME=MicrosoftEdge SAUCELABS_BROWSER_VERSION=17.17134
      # internet explorer
    - jdk: openjdk8
      env: TARGET=saucelabs1 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME="internet explorer" SAUCELABS_BROWSER_VERSION=
    - jdk: openjdk8
      env: TARGET=saucelabs2 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME="internet explorer" SAUCELABS_BROWSER_VERSION=
    - jdk: openjdk8
      env: TARGET=saucelabs3 SAUCELABS_PLATFORM="Windows 10" SAUCELABS_BROWSER_NAME="internet explorer" SAUCELABS_BROWSER_VERSION=
      # safari
    - jdk: openjdk8
      env: TARGET=saucelabs1 SAUCELABS_PLATFORM="macOS 10.13" SAUCELABS_BROWSER_NAME=safari SAUCELABS_BROWSER_VERSION=11.1
    - jdk: openjdk8
      env: TARGET=saucelabs2 SAUCELABS_PLATFORM="macOS 10.13" SAUCELABS_BROWSER_NAME=safari SAUCELABS_BROWSER_VERSION=11.1
    - jdk: openjdk8
      env: TARGET=saucelabs3 SAUCELABS_PLATFORM="macOS 10.13" SAUCELABS_BROWSER_NAME=safari SAUCELABS_BROWSER_VERSION=11.1
addons:
  firefox: "62.0.3"
