{{#if spans}}
  {{#if spans.rolledOver}}
    <div>Spans <strong>rolled over</strong></div>
  {{^}}
    <button class="flat-btn flat-btn-big-pad1aligned sps-toggle">
      <span class="glowroot-link-color">Spans</span> ({{numberOfSpans spans}})
    </button>
    <br>
    <div id="sps"></div>
  {{/if}}
{{/if}}
{{! TODO combine merged stack tree into template and share code between coarse and fine mst }}
{{#if coarseMergedStackTree}}
  {{#if coarseMergedStackTree.rolledOver}}
    <div>Coarse-grained profile <strong>rolled over</strong></div>
  {{^}}
    <button class="flat-btn flat-btn-big-pad1aligned mst-coarse-toggle">
      <span class="glowroot-link-color">Coarse-grained profile</span> ({{coarseMergedStackTree.sampleCount}})
    </button>
    <br>
    <div class="nowrap hide" id="mstCoarseOuter">
      <select class="form-control mst-filter input-xlarge lt-ie9-width-auto hide" onchange="this.blur()"
              style="margin: 4px;">
      </select>
      <div class="mst-common hide">
        <span class="inline-block unexpanded-content glowroot-link-color">common base</span>
        {{! standard expanded-content bottom margin is not needed since nothing can be expanded
            directly below using span so background will stretch beyond page border if needed }}
        <span class="inline-block expanded-content hide" style="margin-bottom: 0;"></span>
      </div>
      <div class="mst-interesting indent1"></div>
    </div>
  {{/if}}
{{/if}}
{{#if fineMergedStackTree}}
  {{#if fineMergedStackTree.rolledOver}}
    <div>Fine-grained profile <strong>rolled over</strong></div>
  {{^}}
    <button class="flat-btn flat-btn-big-pad1aligned mst-fine-toggle">
      <span class="glowroot-link-color">Fine-grained profile</span> ({{fineMergedStackTree.sampleCount}})
    </button>
    <br>
    <div class="nowrap hide" id="mstFineOuter">
      <select class="form-control mst-filter input-xlarge lt-ie9-width-auto hide" onchange="this.blur()"
              style="margin: 4px;">
      </select>
      <div class="mst-common hide">
        <span class="inline-block unexpanded-content glowroot-link-color">common base</span>
        {{! standard expanded-content bottom margin is not needed since nothing can be expanded
            directly below using span so background will stretch beyond page border if needed }}
        <span class="inline-block expanded-content hide" style="margin-bottom: 0;"></span>
      </div>
      <div class="mst-interesting indent1"></div>
    </div>
  {{/if}}
{{/if}}
