<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <!-- web.xml is needed to avoid warning message "Internal Error: File /WEB-INF/web.xml not found"
    (which then causes test to fail) when running maven build with -Dglowroot.shade.skip=true -->
</web-app>
