<div style="margin: 10px 10px 0 10px;">
  <div><strong>Error message filter</strong></div>
  Use spaces to separate multiple terms. Use quotes for text
  that has spaces. Add a minus in front of a term to exclude errors that contain that text.
  <span style="white-space: nowrap;">E.g. <em>one "two with a space" -three</em></span>

  <div style="margin-top: 10px;"><strong>Chart navigation</strong></div>
  <ul style="margin-left: -13px;">
    <li>use the mouse scroll wheel to zoom in and out</li>
    <li>drag over a region to zoom in</li>
    <li>double click to zoom in</li>
    <li>
      <button class="flat-btn glowroot-link-color"
              ng-click="zoomOut()"
              style="margin-left: -4px; padding: 0 4px;">
        click here to zoom out
      </button>
      (if no scroll wheel)
    </li>
  </ul>
</div>