<div>
  <div ng-if="node.childNodes">
    {{node.nodeName}}
    <div ng-repeat="node in node.childNodes"
         ng-include="'template/gt-mbean-node.html'"
         style="margin-left: 30px;">
    </div>
  </div>
  <div ng-if="node.objectName">
    <span class="gt-inline-block gt-mbean-unexpanded-content gt-link-color"
          style="margin-left: -10px;"
          ng-hide="node.expanded"
          gt-smart-click="toggleMBean(node)">
      {{node.nodeName}}
    </span>

    <div class="gt-inline-block gt-mbean-expanded-content"
         style="margin-left: -10px;"
         ng-show="node.expanded"
         gt-smart-click="toggleMBean(node)">
      <label>{{node.nodeName}}</label>
      <table>
        <tr ng-repeat="(key, value) in node.attributeMap">
          <td valign="top">{{key}}</td>
          <td style="padding-left: 10px;">
            <div ng-show="isSimpleValue(value)"
                 class="gt-break-word">
              {{value}}
            </div>
            <div ng-hide="isSimpleValue(value)">
              <pre class="gt-mbean-value-pre gt-break-word">{{indentedJson(value)}}</pre>
            </div>
          </td>
        </tr>
        <!-- all the platform mbeans already expose ObjectName attribute -->
        <tr ng-hide="node.attributeMap.ObjectName || node.loading">
          <td valign="top"><em>ObjectName</em></td>
          <td style="padding-left: 10px;">
            <div class="gt-break-word">
              {{node.objectName}}
            </div>
          </td>
        </tr>
      </table>
      <div ng-show="node.loading && !httpError"
           style="position: relative; height: 50px; margin-bottom: 10px;">
        <div gt-spinner
             gt-show="node.loading && !httpError">
        </div>
      </div>
    </div>
  </div>
</div>
