<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="warn">
    <appender-ref ref="CONSOLE" />
  </root>
  <!-- don't log the test log messages -->
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLog" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLogWithOneParameter" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLogWithThrowable" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLogWithNullThrowable" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLogWithOneParameterAndThrowable"
    level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLogWithTwoParameters" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLogWithMoreThanTwoParameters"
    level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jTest$ShouldLogWithParametersAndThrowable"
    level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLog" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLogWithOneParameter" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLogWithThrowable" level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLogWithNullThrowable"
    level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLogWithOneParameterAndThrowable"
    level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLogWithTwoParameters"
    level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLogWithMoreThanTwoParameters"
    level="off" />
  <logger name="org.glowroot.plugin.logger.Slf4jMarkerTest$ShouldLogWithParametersAndThrowable"
    level="off" />
</configuration>
