<div ng-if="noGroup"
     class="clearfix">
  <button class="btn gt-button-spacing"
          ng-class="gtBtnClass || 'btn-primary'"
          ng-click="onClick()"
          ng-disabled="gtDisabled()"
          style="margin-right: 1rem;">
    {{gtLabel}}
  </button>
  <div class="gt-button-spinner d-none"></div>
  <div class="gt-button-message d-none"
       style="white-space: pre-wrap;">
  </div>
</div>
<span ng-if="!noGroup" class="d-inline-block">
  <button class="btn gt-button-spacing"
          ng-class="gtBtnClass || 'btn-primary'"
          ng-click="onClick()"
          ng-disabled="gtDisabled()"
          style="margin-right: .25rem;">
    {{gtLabel}}
  </button>
</span>
