<!-- using ng-if instead of ng-show so jquery selector only picks up one .gt-button-message inside a button group -->
<div ng-if="noGroup"
     class="clearfix">
  <button class="btn gt-button-spacing"
          ng-class="gtBtnClass || 'btn-primary'"
          ng-click="onClick()"
          ng-disabled="gtDisabled()"
          style="margin-right: 15px;">
    {{gtLabel}}
  </button>
  <div class="gt-button-spinner hide"></div>
  <div class="gt-button-message hide"
       style="padding-top: 4px; white-space: pre-wrap;">
  </div>
</div>
<span ng-if="!noGroup" class="gt-inline-block">
  <button class="btn gt-button-spacing"
          ng-class="gtBtnClass || 'btn-primary'"
          ng-click="onClick()"
          ng-disabled="gtDisabled()"
          style="margin-right: 5px;">
    {{gtLabel}}
  </button>
</span>
