<!--
  From http://docs.angularjs.org/api/ng.directive:form
    "Since you cannot dynamically generate the name attribute of input elements using interpolation, you have
     to wrap each set of repeated inputs in an ngForm directive and nest these in an outer form element."
-->
<div ng-form="formGroupCtrl" class="form-group" ng-class="{'has-error': formGroupCtrl.property.$invalid}">
  <div ng-switch="gtType">
    <div ng-switch-when="checkbox">
      <label class="control-label {{gtColClass1 || 'col-lg-3'}}"
             for="{{gtId}}"
             style="margin-top: -7px;">
        {{gtLabel}}
      </label>
    </div>
    <div ng-switch-default>
      <label class="control-label {{gtColClass1 || 'col-lg-3'}}"
             for="{{gtId}}">
        {{gtLabel}}
      </label>
    </div>
  </div>
  <div class="{{gtColClass2 || 'col-lg-9'}}">
    <div ng-switch="gtType">
      <div ng-switch-when="checkbox">
        <div class="checkbox"
             style="margin-top: -7px;">
          <label>
            <input type="checkbox"
                   ng-model="$parent.ngModel"
                   ng-disabled="gtDisabled()"
                   name="property"
                   id="{{gtId}}">
            {{gtCheckboxLabel}}
          </label>
        </div>
      </div>
      <div ng-switch-when="textarea">
        <textarea class="form-control"
                  ng-model="$parent.ngModel"
                  name="property"
                  id="{{gtId}}"
                  ng-required="gtRequired()"
                  ng-disabled="gtDisabled()"
                  ng-style="{'max-width': gtWidth ? gtWidth : 'none'}"
                  rows="{{gtRows ? gtRows : ''}}">
        </textarea>
      </div>
      <div ng-switch-when="codemirror">
        <div ui-codemirror
             ui-codemirror-opts="codeMirrorOpts"
             ng-model="$parent.ngModel"
             ng-class="{'codemirror-disabled': gtDisabled()}">
        </div>
      </div>
      <div ng-switch-default>
        <div ng-style="{display : gtWidth ? 'inline' : 'block'}">
          <div ng-class="{'input-group' : gtAddon}">
            <!-- gtType "text" and "password" are both used -->
            <!-- using max-width below (instead of width) results in the addon floating to the right in IE9 -->
            <input type="{{gtType}}"
                   class="form-control"
                   ng-model="$parent.ngModel"
                   name="property"
                   id="{{gtId}}"
                   ng-pattern="ngPattern"
                   ng-required="gtRequired()"
                   ng-disabled="gtDisabled()"
                   placeholder="{{gtPlaceholder}}"
                   ng-style="{'max-width': gtWidth ? gtWidth : 'none'}">
            <span ng-if="gtAddon" class="input-group-addon">{{gtAddon}}</span>
          </div>
        </div>
      </div>
    </div>
    <div ng-transclude></div>
  </div>
</div>
