<div uib-dropdown class="input-group-btn" ng-class="gtClass">
  <button uib-dropdown-toggle type="button" class="btn btn-default">
    {{gtDisplay}} <span class="caret"></span>
  </button>
  <!-- override bootstrap .dropdown-menu { min-width: 160px } -->
  <ul class="dropdown-menu" style="min-width: 0;">
    <li ng-repeat="item in gtItems()">
      <!-- using $parent.gtModel below since ng-repeat create child scopes -->
      <a ng-click="$parent.gtModel = item.value" href="">{{item.display}}</a>
    </li>
  </ul>
</div>
