<div class="dropdown"
     ng-class="gtClass">
  <button class="btn gt-btn-input-group dropdown-toggle"
          type="button"
          data-toggle="dropdown">
    {{gtDisplay}}
  </button>
  <div class="dropdown-menu">
    <!-- using $parent.gtModel below since ng-repeat create child scopes -->
    <button class="dropdown-item"
            type="button"
            ng-repeat="item in gtItems()"
            ng-click="$parent.gtModel = item.value"
            style="cursor: pointer;">
      {{item.display}}
    </button>
  </div>
</div>
