<!--
  total = inclusive; self = exclusive (matches chart segments; see #1158).
  Share bar = % of largest total in this table, not % of average response time.
-->
<div class="gt-breakdown">
  <div class="gt-breakdown-heading">{{heading}}</div>
  <table class="gt-timers-table gt-breakdown-table"
         ng-hide="showTreeView">
    <thead>
    <tr>
      <th>Timer</th>
      <th class="gt-breakdown-bar-cell">Share</th>
      <th>total (ms)</th>
      <th>self (ms)</th>
      <th>count</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="flattenedTimer in flattenedTimers | filter:{show: true}">
      <td>
        <div class="gt-breakdown-name gt-break-word gt-second-line-indent">{{flattenedTimer.name}}</div>
      </td>
      <td class="gt-breakdown-bar-cell">
        <div class="gt-breakdown-bar-track"
             title="{{flattenedTimer.barPct}}% of largest">
          <div class="gt-breakdown-bar"
               ng-style="{'width': flattenedTimer.barPct + '%'}"></div>
        </div>
      </td>
      <td>{{flattenedTimer.totalNanos / (1000000 * transactionCount) | gtMillis}}</td>
      <td>{{flattenedTimer.selfNanos / (1000000 * transactionCount) | gtMillis}}</td>
      <td>{{flattenedTimer.count / transactionCount | gtCount}}</td>
    </tr>
    <tr>
      <td colspan="5">
        <div class="gt-breakdown-actions">
          <span tabindex="-1"></span>
          <button class="gt-flat-btn gt-link-color"
                  ng-click="clickShowMore()"
                  ng-if="ftShowMore">
            show more
          </button>
          <span ng-if="ftShowMoreAndLess">/</span>
          <button class="gt-flat-btn gt-link-color"
                  ng-click="clickShowLessFT()"
                  ng-if="showLess">
            show less
          </button>
          <span ng-if="ftShowMore">
          /
          <button class="gt-flat-btn gt-link-color"
                  ng-click="clickShowAll()"
                  ng-if="ftShowMore">
            show all
          </button>
          </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="gt-flat-btn gt-flat-btn-big gt-link-color gt-breakdown-toggle"
          ng-hide="showTreeView"
          ng-click="showTreeView = true">
    switch to tree view
  </button>
  <table class="gt-timers-table gt-breakdown-table"
         ng-if="showTreeView">
    <thead>
    <tr>
      <th>Timer</th>
      <th class="gt-breakdown-bar-cell">Share</th>
      <th>total (ms)</th>
      <th>self (ms)</th>
      <th>count</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="treeTimer in treeTimers | filter:{show: true}">
      <td>
        <div class="gt-breakdown-name gt-break-word gt-second-line-indent"
             ng-style="{'margin-left': treeTimer.nestingIndent + 'px'}">
          {{treeTimer.name}}{{treeTimer.extended ? ' (extended)' : ''}}
        </div>
      </td>
      <td class="gt-breakdown-bar-cell">
        <div class="gt-breakdown-bar-track"
             title="{{treeTimer.barPct}}% of largest">
          <div class="gt-breakdown-bar"
               ng-style="{'width': treeTimer.barPct + '%'}"></div>
        </div>
      </td>
      <td>{{treeTimer.totalNanos / (1000000 * transactionCount) | gtMillis}}</td>
      <td>{{treeTimer.selfNanos / (1000000 * transactionCount) | gtMillis}}</td>
      <td>{{treeTimer.count / transactionCount | gtCount}}</td>
    </tr>
    <tr>
      <td colspan="5">
        <div class="gt-breakdown-actions">
          <span tabindex="-1"></span>
          <button class="gt-flat-btn gt-link-color"
                  ng-click="clickShowMore()"
                  ng-if="ttShowMore">
            show more
          </button>
          <span ng-if="ttShowMoreAndLess">/</span>
          <button class="gt-flat-btn gt-link-color"
                  ng-click="clickShowLessTT()"
                  ng-if="showLess">
            show less
          </button>
          <span ng-if="ttShowMore">
          /
          <button class="gt-flat-btn gt-link-color"
                  ng-click="clickShowAll()"
                  ng-if="ttShowMore">
            show all
          </button>
          </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- need to use $parent since ng-if creates a child scope -->
  <button class="gt-flat-btn gt-flat-btn-big gt-link-color gt-breakdown-toggle"
          ng-if="showTreeView"
          ng-click="$parent.showTreeView = false">
    switch to flattened view
  </button>
</div>
