<div class="gt-thread-stats">
  <div class="gt-thread-stats-grid"
       ng-if="hasTimeSlices">
    <div class="gt-thread-pie-wrap">
      <div class="gt-thread-pie"
           ng-style="{'background': pieBackground}"
           role="img"
           aria-label="Thread time distribution"></div>
      <ul class="gt-thread-pie-legend">
        <li ng-repeat="slice in timeSlices">
          <span class="gt-thread-pie-swatch"
                ng-style="{'background': slice.color}"></span>
          <span class="gt-thread-pie-label">{{slice.name}}</span>
          <span class="gt-thread-pie-value">{{slice.ms | gtMillis}} ms</span>
          <span class="gt-thread-pie-pct">{{slice.pct}}%</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="gt-thread-stats-list"
       ng-if="!hasTimeSlices && (threadStats.totalCpuNanos != -1
            || threadStats.totalBlockedNanos != -1
            || threadStats.totalWaitedNanos != -1)">
    <div ng-if="threadStats.totalCpuNanos != -1">
      CPU time: {{threadStats.totalCpuNanos / (1000000 * transactionCount) | gtMillis}} ms
    </div>
    <div ng-if="threadStats.totalBlockedNanos != -1">
      Blocked time: {{threadStats.totalBlockedNanos / (1000000 * transactionCount) | gtMillis}} ms
    </div>
    <div ng-if="threadStats.totalWaitedNanos != -1">
      Waited time: {{threadStats.totalWaitedNanos / (1000000 * transactionCount) | gtMillis}} ms
    </div>
  </div>

  <div class="gt-thread-allocated"
       ng-if="threadStats.totalAllocatedBytes != -1">
    Allocated memory: {{threadStats.totalAllocatedBytes / transactionCount | gtBytes}}
  </div>
</div>
