name: PR build

on: pull_request

# TODO cache at least $HOME/.m2 and $HOME/.cache/bower

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11 ]
        testGroup: [ 1, 2, 3, 4 ]
        testShaded: [ true, false ]
        glowrootHarness: [ javaagent, local ]
      fail-fast: false
    env:
      TEST_SHADED: ${{ matrix.testShaded }}
      GLOWROOT_HARNESS: ${{ matrix.glowrootHarness }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK ${{ matrix.java }} for tests
        if: ${{ matrix.java != 8 }}
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: ${{ matrix.java }}
      - name: Set up env var for java home for tests
        if: ${{ matrix.java != 8 }}
        run: |
          test_jvm_path_matches=(/opt/hostedtoolcache/Java_Adopt_jdk/${{ matrix.java }}.*/x64/bin/java)
          echo "TEST_JVM_PATH=${test_jvm_path_matches[0]}" >> $GITHUB_ENV
          cat $GITHUB_ENV
      - name: Set up JDK 8 for build
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 8
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        uses: GabrielBB/xvfb-action@v1
        with:
          run: .github/scripts/build.sh test${{ matrix.testGroup }}

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 8
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        uses: GabrielBB/xvfb-action@v1
        with:
          run: .github/scripts/build.sh deploy

  checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 8
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        uses: GabrielBB/xvfb-action@v1
        with:
          run: .github/scripts/build.sh checker

#  saucelabs:
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        testGroup: [ 1, 2, 3 ]
#        environment: [
#          { platform: "Windows 10", browserName: "chrome", browserVersion: "" },
#          { platform: "Windows 10", browserName: "firefox", browserVersion: "" },
#          { platform: "Windows 10", browserName: "MicrosoftEdge", browserVersion: "17.17134" },
#          { platform: "Windows 10", browserName: "internet explorer", browserVersion: "" },
#          { platform: "macOS 10.13", browserName: "safari", browserVersion: "11.1" }
#        ]
#      fail-fast: false
#    env:
#      SAUCELABS_PLATFORM: ${{ matrix.environment.platform }}
#      SAUCELABS_BROWSER_NAME: ${{ matrix.environment.browserName }}
#      SAUCELABS_BROWSER_VERSION: ${{ matrix.environment.browserVersion }}
#    steps:
#      - uses: actions/checkout@v2
#        with:
#          fetch-depth: 0
#      - name: Set up JDK 8
#        uses: actions/setup-java@v2
#        with:
#          distribution: adopt
#          java-version: 8
#      - name: Restore cache
#        uses: actions/cache@v2
#        with:
#          path: ~/.m2/repository
#          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
#          restore-keys: |
#            ${{ runner.os }}-maven-
#      - name: Connect to Sauce Labs
#        uses: saucelabs/sauce-connect-action@v1
#        with:
#          username: ${{ secrets.SAUCE_USERNAME }}
#          accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
#          tunnelIdentifier: github-action-tunnel
#          scVersion: 4.6.4
#      - name: Build
#        uses: GabrielBB/xvfb-action@v1
#        with:
#          run: .github/scripts/build.sh saucelabs${{ matrix.Group }}
